<div class="row">
  <div class="col-md-8">

    <div [ngClass]="classCss" role="alert" *ngIf="message">
      <span>{{ message.text }}</span>
    </div>

    <div class="box">
      <div class="box-header with-border">
        <h3 class="box-title">Lista de Ingredientes</h3>
      </div>

      <div class="box-body">
        <table class="table table-bordered">
          <tr>
            <th style="text-align: center;">ID</th>
            <th>Nome</th>
            <th style="width: 40px">&nbsp;</th>
            <th style="width: 40px">&nbsp;</th>
          </tr>
          <tr *ngFor="let ingrediente of listIngrediente">
            <td align="center">{{ ingrediente.id }}</td>
            <td>{{ ingrediente.nome }}</td>
            <td><button  class="btn btn-primary" (click)="edit(ingrediente.id);" title="Editar"><i class="fa fa-pencil"></i></button></td>
            <td><button  class="btn btn-danger" (click)="delete(ingrediente.id);" title="Excluir"><i class="fa fa-trash"></i></button></td>
          </tr>
        </table>
      </div>

      <div class="box-footer clearfix">
        <ul class="pagination pagination-sm no-margin pull-right">
          <li><a href="" (click)="setPreviousPage($event);">&laquo;</a></li>
          <li *ngFor="let p of pages; let i = index">
            <a [ngClass]="{'pagination-focus' : i == page}" href="" (click)="setPage(i, $event);">{{i+1}}</a>
          </li>
          <li><a href="" (click)="setNextPage($event);">&raquo;</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="large" color="#fff" type="ball-spin" [fullScreen]="true"></ngx-spinner>