<div class="col-md-6" style="margin-left:  0%">
  <div class="box box-info">
    <div class="box-header with-border">
      <h3 class="box-title">Novo Ingrediente</h3>
    </div>
    <form class="form-horizontal" #form="ngForm" (ngSubmit)="save()">

      <div [ngClass]="classCss" role="alert" *ngIf="message">
        <span>{{ message.text }}</span>
      </div>

      <div class="box-body">

        <div [ngClass]="getFromGroupClass(nome.invalid, nome.dirty)">
          <label for="inputNome" class="col-sm-2 control-label">Nome</label>

          <div class="col-sm-10">
            <input 
                  type="nome" 
                  [(ngModel)]="ingrediente.nome" 
                  class="form-control" 
                  name="nome" 
                  id="inputNome" 
                  #nome="ngModel" 
                  placeholder="Nome" 
                  maxlength="50"
                  required>
            <span class="help-block" *ngIf="nome.invalid && nome.dirty">Nome é necessário</span>
          </div>
        </div>

      </div>
      <div class="box-footer">
        <button type="submit" [disabled]="!form.valid" class="btn btn-info pull-right">Gravar</button>
      </div>
    </form>
  </div>
</div>

<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="large" color="#fff" type="ball-spin" [fullScreen]="true"></ngx-spinner>