<div class="content">
  <section class="content-header">
    <h1>
      Lista de Compras Inteligente
      <small>UVA | Universidade Veiga de Almeida</small>
    </h1>
  </section>
  <section class="content">
    <div class="row">
      <div class="col-md-12">

        <!-- LINHA DO TEMPO -->
        <ul class="timeline">

          <!-- MATRICULA -->
          <li>
            <i class="fa fa-user bg-aqua"></i>
            <div class="timeline-item">
              <h3 class="timeline-header no-border"><b>Aluno:</b> Gabriel Ramos de Sousa | <b>Matrícula:</b> 20151112918 | <b>Campus:</b> Tijuca</h3>
            </div>
          </li>

          <!-- GITHUB -->
          <li>
            <i class="fa fa-github bg-light-blue"></i>
            <div class="timeline-item">
              <h3 class="timeline-header">Código-fonte disponível em <a href="https://github.com/ramos1gabriel" target="_blank">github.com/ramos1gabriel</a></h3>
            </div>
          </li>

          <!-- LINKEDIN -->
          <li>
            <i class="fa fa-linkedin-square bg-blue"></i>
            <div class="timeline-item">
              <h3 class="timeline-header no-border">Entre em contato pelo LinkedIn: <a href="https://www.linkedin.com/in/ramos1gabriel/" target="_blank">linkedin.com/in/ramos1gabriel/</a></h3>
            </div>
          </li>

          <!-- MANUAL PDF -->
          <!--
          <li>
            <i class="fa fa-book bg-yellow"></i>
            <div class="timeline-item">
              <h3 class="timeline-header">Manual disponível para <a href="#">download</a></h3>
            </div>
          </li>
          -->

          <!-- TUTORIAL YOUTUBE -->
          <!--
          <li>
            <i class="fa fa-youtube-play bg-maroon"></i>
            <div class="timeline-item">
              <h3 class="timeline-header">Vídeo tutorial de utilização do sistema</h3>
              <div class="timeline-body">
                <div class="embed-responsive embed-responsive-16by9">
                  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/hZV9W1W_yfI" frameborder="0" allowfullscreen=""></iframe>
                </div>
              </div>
            </div>
          </li>
          -->
        </ul>

        <!-- LOGO -->
        <div id="logo">
          <img src="assets\img\logo_resize.png" alt="Logo" title="Logo">
        </div>

      </div>
    </div>
  </section>
</div>

<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="large" color="#fff" type="ball-spin" [fullScreen]="true"></ngx-spinner>