<aside class="main-sidebar" id="sidebar-aux">
    <section class="sidebar" style="margin-top:0px;">

    <!-- Sidebar user panel -->
    <div class="user-panel">
      <div class="pull-left image">
        <img src="assets/img/chef{{ shared.user.imagem }}.png" class="img-circle" alt="Perfil">
      </div>
      <div class="pull-left info">
        <p>{{ shared.user.nome }}</p>
        <a [routerLink]="['/user-edit/'] + shared.user.id">Editar Perfil</a>
      </div>
    </div>

      <ul class="sidebar-menu" data-widget="tree">
        <li class="header">MENU DE NAVEGAÇÃO</li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-apple"></i><span>Ingredientes</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a [routerLink]="['/ingrediente-list']"><i class="fa fa-circle-o"></i>Lista</a></li>
            <li><a [routerLink]="['/ingrediente-new']"><i class="fa fa-circle-o"></i>Novo Ingrediente</a></li>
          </ul>
        </li>

        <li class="treeview">
            <a href="#">
              <i class="fa fa-book"></i><span>Receitas</span>
              <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
            </a>
            <ul class="treeview-menu">
              <li><a [routerLink]="['/receita-list']"><i class="fa fa-circle-o"></i>Lista</a></li>
              <li><a [routerLink]="['/receita-new']"><i class="fa fa-circle-o"></i>Nova Receita</a></li>
              <li><a [routerLink]="['/receitaingrediente-new/1']" *ngIf="shared.user.username == 'admin'"><i class="fa fa-circle-o"></i>[DSV] TELA 2</a></li>
              <li><a [routerLink]="['/modopreparo-new/1']" *ngIf="shared.user.username == 'admin'"><i class="fa fa-circle-o"></i>[DSV] TELA 3</a></li>
            </ul>
          </li>

          <li class="treeview">
            <a href="#">
              <i class="fa fa-pencil-square-o "></i><span>Cardápio Semanal</span>
              <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
            </a>
            <ul class="treeview-menu">
              <li><a [routerLink]="['/cardapio-list']"><i class="fa fa-circle-o"></i>Lista</a></li>
              <li><a [routerLink]="['/cardapio-new']"><i class="fa fa-circle-o"></i>Novo Cardápio Semanal</a></li>
            </ul>
          </li>

          <!--
          <li class="treeview">
            <a href="#">
              <i class="fa fa-shopping-basket"></i><span>Lista de Compras</span>
              <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
            </a>
            <ul class="treeview-menu">
              <li><a [routerLink]="['/summary']"><i class="fa fa-circle-o"></i>Ver</a></li>
            </ul>
          </li>
          -->

            <li class="treeview">
              <a href="#">
                <i class="fa fa-cog"></i><span>Configurações</span>
                <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
              </a>
              <ul class="treeview-menu">
                <li><a [routerLink]="['/user-edit/'] + shared.user.id"><i class="fa fa-circle-o"></i>Editar Perfil</a></li>
              </ul>
            </li>

            <li class="treeview" *ngIf="shared.user.username == 'admin'">
              <a href="#">
                <i class="fa fa-user"></i><span>Usuário</span>
                <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
              </a>
              <ul class="treeview-menu">
                <li><a [routerLink]="['/user-list']"><i class="fa fa-circle-o"></i>Lista</a></li>
                <li><a [routerLink]="['/user-new']"><i class="fa fa-circle-o"></i>Novo Usuário</a></li>
              </ul>
            </li>

      </ul>
    </section>
  </aside>