<div class="col-md-6" style="margin-left:  0%">
  <div class="box box-info">
    <div class="box-header with-border">
      <h3 class="box-title">Modo de Preparo</h3>
    </div>
    <form class="form-horizontal" #form="ngForm" (ngSubmit)="save()">

      <div [ngClass]="classCss" role="alert" *ngIf="message">
        <span>{{ message.text }}</span>
      </div>

      <div class="box-body">
        
        <label for="inputDescricao" class="control-label">Descrição do Modo de Preparo da Receita {{modopreparo.receita.nome}}</label>
        <br><small>Caracteres restantes: {{caracteres}}</small>
        
        <div [ngClass]="getFromGroupClass(descricao.invalid, descricao.dirty)">

          <div class="col-sm-10">
            <textarea [(ngModel)]="modopreparo.descricao"
                      (keyup)="calculaCaracteresRestantes($event.target.value.length)"
                      class="form-control" 
                      name="descricao" 
                      rows="10"
                      id="inputDescricao" 
                      #descricao="ngModel" 
                      placeholder="Descreva aqui o passo a passo para o preparo da receita" 
                      maxlength="500"
                      required></textarea>
          </div>
        </div>
      </div>
      <div class="box-footer">
        <button type="submit" [disabled]="!form.valid" class="btn btn-info pull-right">Gravar</button>
      </div>
    </form>
  </div>
</div>

<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="large" color="#fff" type="ball-spin" [fullScreen]="true"></ngx-spinner>