CORRIGIR ERRO DE PERIST DE DATA (ESTA DIMINUINDO 1 DIA)
<div class="row">
  <div class="col-md-8">

    <div [ngClass]="classCss" role="alert" *ngIf="message">
      <span>{{ message.text }}</span>
    </div>

    <div class="box">
      <div class="box-header with-border">
        <h3 class="box-title">Lista de Cardápios Semanais</h3>
      </div>

      <div class="box-body">
        <table class="table table-bordered">
          <tr>
            <th style="text-align: center;">ID</th>
            <th>Data da Criação</th>
            <th>Refeições (%)</th>
            <th style="width: 40px">&nbsp;</th>
            <th style="width: 40px">&nbsp;</th>
          </tr>
          <tr *ngFor="let cardapio of listCardapio">
            <td align="center">{{ cardapio.id }}</td>
            <td>{{ cardapio.dataFormatada }}</td>
            <td>
              <div class="progress">
                <div class="progress-bar bg-primary" id="qtdreceitas" name="qtdreceitas" role="progressbar" [style.width]="progress + '%'" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                  {{ progress }}%
                </div>
              </div>
            </td>
            <td><button  class="btn btn-primary" (click)="edit(cardapio.id);" title="Editar"><i class="fa fa-pencil"></i></button></td>
            <td><button  class="btn btn-danger" (click)="delete(cardapio.id);" title="Excluir"><i class="fa fa-trash"></i></button></td>
          </tr>
        </table>
      </div>

      <div class="box-footer clearfix">
        <ul class="pagination pagination-sm no-margin pull-right">
          <li><a href="" (click)="setPreviousPage($event);">&laquo;</a></li>
          <li *ngFor="let p of pages; let i = index">
            <a [ngClass]="{'pagination-focus' : i == page}" href="" (click)="setPage(i, $event);">{{i+1}}</a>
          </li>
          <li><a href="" (click)="setNextPage($event);">&raquo;</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>