<div class="col-md-8" style="margin-left:  0%">
  <div class="box box-info">
    <div class="box-header with-border">
      <h3 class="box-title">Adicione os Ingredientes</h3>
    </div>
    <form class="form-horizontal" #form="ngForm" (ngSubmit)="save()">
      <!--
      <div class="callout callout-info">
        <h4>REGRAS DE NEGOCIO</h4>
        <ul>
          <li>Quantidade deve ser maior do que ZERO.</li>
          <li>Caso a Unidade de Medida não seja informada, será entendido como se tratando de uma UNIDADE. Ex.: 2 ovos.</li>
          <li>Não é permitido duplicidade de ingredientes.</li>
          <li>Quantidade máxima de 10 ingredientes permitidos.</li>
          <li>A Receita deve possuir ao menos 1 igrendiente</li>
        </ul>
      </div>
      -->
      <div [ngClass]="classCss" role="alert" *ngIf="message">
        <span>{{ message.text }}</span>
      </div>

      <div class="box-body">

        <table class="table table-bordered">
          <tr>
            <th style="width: 3%;">Nº</th>
            <th style="width: 30%;">Ingrediente</th>
            <th style="width: 10%;">Quantidade</th>
            <th style="width: 15%;">Unidade&nbsp;
              <a data-toggle="tooltip" title="Unidade de Medida caso não seja informada será entendido como uma 'unidade única'. Exemplo: 2 ovos">
                <i class="fa fa-question-circle"></i>
              </a>
            </th>
            <th>&nbsp;</th>
          </tr>
          <tr *ngFor="let ing of ingredientes; let i = index;">
            <td><h5>{{i+1}}</h5></td>
            <td>
              <div [ngClass]="getFromGroupClass(ingrediente.invalid, ingrediente.dirty)" style="margin: 0px;">
                <select [(ngModel)]="ingredientes[i].ingrediente" 
                        (change)="validaDuplicidade($event.target.value, i)" 
                        class="form-control" 
                        name="ingrediente_{{ing.index}}" 
                        #ingrediente="ngModel" 
                        id="inputIngrediente"
                        required>
                      <option value="" selected>Selecione[...]</option>
                      <option *ngFor="let ingrediente of listIngrediente" value={{ingrediente.id}}>
                        {{ingrediente.nome}}
                      </option>
                  </select>
              </div>
            </td>
            <td>
              <div [ngClass]="getFromGroupClass(quantidade.invalid, quantidade.dirty)" style="margin: 0px;">
                <input  type="number" 
                        min="1" max="10000" maxlength="5"
                        [(ngModel)]="ingredientes[i].quantidade" 
                        (blur)="validaQtde($event.target.value, i)" 
                        class="form-control" 
                        name="quantidade_{{ing.index}}" 
                        id="inputQuantidade" 
                        #quantidade="ngModel" 
                        placeholder="Quantidade" 
                        required>
              </div>
            </td>
            <td>
              <div [ngClass]="getFromGroupClass(unidadeMedida.invalid, unidadeMedida.dirty)" style="margin: 0px;">
                <select [(ngModel)]="ingredientes[i].unidadeMedida" 
                          class="form-control" 
                          name="unidadeMedida_{{ing.index}}" 
                          #unidadeMedida="ngModel" 
                          id="inputUnidadeMedida">
                    <option value="" selected>Selecione[...]</option>
                    <option value="XCR">Xícara(s)</option>
                    <option value="COL">Colher(es)</option>
                    <option value="K">Quilo(s)</option>
                    <option value="KG">Quilograma(s)</option>
                    <option value="G">Grama(s)</option>
                    <option value="MG">Miligrama(s)</option>
                    <option value="L">Litro(s)</option>
                    <option value="ML">Mililitro(s)</option>
                    <option value="M">Metro(s)</option>
                    <option value="CM">Centímetro(s)</option>
                    <option value="MM">Milímetro(s)</option>
                  </select>
              </div>
            </td>
            <td>
              <button type="button" class="btn btn-danger" (click)="removeIngrediente(i)">Remover</button>
            </td>
          </tr>
        </table>
        <!--
        <div [ngClass]="getFromGroupClass(observacao.invalid, observacao.dirty)">
          <label for="inputObservacao" class="col-sm-2 control-label">Observação</label>

          <div class="col-sm-10">
            <textarea 
                    [(ngModel)]="receitaingrediente.observacao" 
                    class="form-control" 
                    name="observacao" 
                    rows="3"
                    id="inputObservacao" 
                    #observacao="ngModel" 
                    placeholder="Observação">
            </textarea>
          </div>
        </div>
        -->

      </div>
      <div class="box-footer">
        <button type="button" class="btn btn-success" (click)="addIngrediente()">Adicionar</button>&nbsp;
        <!--<button type="button" class="btn btn-warning">Limpar</button>&nbsp;-->
        <button type="button" [disabled]="!form.valid" class="btn btn-info pull-right" (click)="persistirArray()">Gravar</button>
      </div>
    </form>
  </div>
</div>